body {
  padding: 0;
  margin: 0;
  background: lightblue;
  font-family: monospace;
}

table {
  display: flex;
  flex-direction: column;
  height: 90vw;
  width: 90vw;
  max-width: 100vh;
  max-height: 100vh;
  background: radial-gradient(beige, wheat);
  transform: scale(.5) scaleY(.5) skew(45deg, -45deg);
  box-shadow: -30px 30px 0px 0 rgba(0,0,0,0.4), -45px 45px 196px 101px rgba(0,0,0,0.2);
  border-radius: 1vh;
  outline: solid 8px floralwhite;
}

tr {
  flex-grow: 1;
  display: flex;
}

td {
  outline: solid 2px tan;
  outline-offset: -1px;
  flex-grow: 1;
}

td > div {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: skew(45deg, -45deg) scaleX(2);
}

td:has(.player) {
  background: radial-gradient(rgba(0,0,0,0.3), transparent 50%);
  outline: solid 1vh darksalmon;
  outline-offset: -2vw;
  border-radius: 30%;
  animation-name: idle-shadow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  border: none;
}
td:has(.place) {
  background: radial-gradient(white 5%, rgba(255,255,255,0.3) 28%, transparent 70%);
  border: none;
}

.board-container {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.player, .place {
  position: relative;
}

.player {
  background: radial-gradient(yellow 20%, yellowgreen 58%, white);
  border-radius: 50%;
  outline: solid 0.4vw rgba(0,0,0,.3);
  transform: skew(45deg, -45deg) scaleX(1) translateX(70%);
  box-shadow: 0 0 5px 2px rgba(0,0,0,.3), 5px 0px 9px 5px rgba(255,255,255,.3);
  animation-name: idle !important;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  mix-blend-mode: darken;
}


@keyframes idle {
  0% {transform: skew(45deg, -45deg) scale(.5) scaleX(2) translateX(70%);}
  50% {transform: skew(45deg, -45deg) scale(.5) scaleX(2) translateX(60%);}
  100% {transform: skew(45deg, -45deg) scale(.5) scaleX(2) translateX(70%);}
}

@keyframes idle-shadow {
  0% {background: radial-gradient(rgba(0,0,0,0.2), transparent 50%)}
  5% {background: radial-gradient(rgba(0,0,0,0.22), transparent 50%)}
  10% {background: radial-gradient(rgba(0,0,0,0.24), transparent 50%)}
  15% {background: radial-gradient(rgba(0,0,0,0.26), transparent 50%)}
  20% {background: radial-gradient(rgba(0,0,0,0.28), transparent 50%)}
  25% {background: radial-gradient(rgba(0,0,0,0.3), transparent 50%)}
  30% {background: radial-gradient(rgba(0,0,0,0.32), transparent 50%)}
  35% {background: radial-gradient(rgba(0,0,0,0.34), transparent 50%)}
  40% {background: radial-gradient(rgba(0,0,0,0.36), transparent 50%)}
  45% {background: radial-gradient(rgba(0,0,0,0.38), transparent 50%)}
  50% {background: radial-gradient(rgba(0,0,0,0.4), transparent 50%)}
  55% {background: radial-gradient(rgba(0,0,0,0.38), transparent 50%)}
  60% {background: radial-gradient(rgba(0,0,0,0.36), transparent 50%)}
  65% {background: radial-gradient(rgba(0,0,0,0.34), transparent 50%)}
  70% {background: radial-gradient(rgba(0,0,0,0.32), transparent 50%)}
  75% {background: radial-gradient(rgba(0,0,0,0.3), transparent 50%)}
  80% {background: radial-gradient(rgba(0,0,0,0.28), transparent 50%)}
  85% {background: radial-gradient(rgba(0,0,0,0.26), transparent 50%)}
  90% {background: radial-gradient(rgba(0,0,0,0.24), transparent 50%)}
  95% {background: radial-gradient(rgba(0,0,0,0.22), transparent 50%)}
  100% {background: radial-gradient(rgba(0,0,0,0.2), transparent 50%)}
}

.place {
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 0 8px yellow, -6px 0px 20px 16px gold;
  transform: skew(45deg, -45deg) scale(.4) translateX(150%);
  animation-name: place-idle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes place-idle {
  0% {transform: skew(45deg, -45deg) scaleX(2) scale(.2) translateX(150%);}
  50% {transform: skew(45deg, -45deg) scaleX(2) scale(.15) translateX(150%);}
  100% {transform: skew(45deg, -45deg) scaleX(2) scale(.2) translateX(150%);}
}

.place.player {
  box-shadow: 0 0 18px 5px white;
  mix-blend-mode: normal;
  outline: none;
}

td:has(.place.player) {
  outline: solid 0 transparent;
  transition: .3s;
}

.bubble {
  position: absolute;
  display: none;
  bottom: 25%;
  right: -135px;
  transform: rotate(90deg) scale(3) translateX(50%);
  /* text-align: center; */
  background: white;
  box-shadow: -6px 6px 0px -1px rgba(0,0,0,0.3);
  border-radius: 12px 12px 12px 0px;
  padding: 8px 16px;
}

.place.player .bubble {
  display: block;
}

.blocked {
  position: relative;
  transform: scale(.8) translate(5vw, -5vw);
  border-radius: 50%;
  background: lightcoral;
  box-shadow:
  -2.5vw 2.5vw 0px -2vw lightgray,
  -4vw 4vw 0px -3vw darkgray,
  -6vw 6vw 0px -4vw dimgray,
  -6vw 6vw 2vw -2vw rgba(0,0,0, 0.6),
  -5vw 5vw 2vw 0 burlywood;
}

td:has(.blocked) {
  /* background: radial-gradient(black, transparent 70%); */
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.l-wall {
  flex-grow: 1;
  background: floralwhite;
  transform: skewX(-26.5deg) translateX(12.5%) scaleX(.5);
  outline: solid 4px floralwhite;
  outline-offset: -2px;
  border-radius: 4px;
}

.r-wall {
  flex-grow: 1;
  background: tan;
  transform: skewX(26.5deg) translateX(12.5%) scaleX(.5);
  outline: solid 4px floralwhite;
  outline-offset: -2px;
  border-radius: 4px;
}

.ceiling-box {
  position: absolute;
  transform: translateX(50%);
  top: -100%;
  right: -50%;
  background: mediumpurple;
  outline: solid 8px floralwhite;
  outline-offset: -4px;
  border-radius: 8px;
}

td:has(.box) {
  position: relative;
  outline: solid 4px floralwhite;
  outline-offset: -2px;
}

td:has(.carpet) {
  position: relative;
}

.carpet {
  top: 0;
  position: absolute;
  transform: revert;
  background: orange;
  mix-blend-mode: color-burn;
}
